@font-face {
    font-family: "BWModelicaRegular";
    src: url("../font/BwModelicaCyrillicDEMO-Regular.eot");
    src: url("../font/BwModelicaCyrillicDEMO-Regular.eot?#iefix") format("embedded-opentype"), url("../font/BwModelicaCyrillicDEMO-Regular.woff") format("woff"), url("../font/BwModelicaCyrillicDEMO-Regular..ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "BWModelicaMedium";
    src: url("../font/BwModelicaCyrillicDEMO-Medium.eot");
    src: url("../font/BwModelicaCyrillicDEMO-Medium.eot?#iefix") format("embedded-opentype"), url("../font/BwModelicaCyrillicDEMO-Medium.woff") format("woff"), url("../font/BwModelicaCyrillicDEMO-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "BWModelicaBold";
    src: url("../font/BwModelicaCyrillicDEMO-Bold.eot");
    src: url("../font/BwModelicaCyrillicDEMO-Bold.eot?#iefix") format("embedded-opentype"), url("../font/BwModelicaCyrillicDEMO-Bold.woff") format("woff"), url("../font/BwModelicaCyrillicDEMO-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "BWModelicaMedium";
    src: url("../font/BwModelicaCyrillicDEMO-Medium.eot");
    src: url("../font/BwModelicaCyrillicDEMO-Medium.eot?#iefix") format("embedded-opentype"), url("../font/BwModelicaCyrillicDEMO-Medium.woff") format("woff"), url("../font/BwModelicaCyrillicDEMO-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "BWModelicaExtraBold";
    src: url("../font/BwModelicaCyrillicDEMO-ExtraBold.eot");
    src: url("../font/BwModelicaCyrillicDEMO-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/BwModelicaCyrillicDEMO-ExtraBold.woff") format("woff"), url("../font/BwModelicaCyrillicDEMO-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}